asgiref==3.7.2
backports.zoneinfo==0.2.1
certifi==2024.2.2
charset-normalizer==3.3.2
Django==4.2.10
django-cors-headers==4.3.1
djangorestframework==3.14.0
dnspython==2.5.0
idna==3.6
psycopg2==2.9.9
pykerberos==1.2.4
pylibmc==1.6.3
pymongo==4.6.1
python-snappy==0.6.1
pytz==2024.1
requests==2.31.0
resource-retriever==1.12.7
sqlparse==0.4.4
typing-extensions==4.9.0
urllib3==2.2.0
whitenoise==6.6.0
