body {
  background-color: #fff; /* Replace #f0f0f0 with your desired color code */
}

.half-circle-button {
  position: fixed;
  top: 0;
  height: 100vh;
  background-color: #a382fd;
  color: #fff;
  outline: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
  /* transition: width 0.3s ease; Add transition property */
  transition: opacity 0.5s ease-in-out;
  opacity: 0;
  white-space: nowrap;
  font-size: 36px; /* Increase the font size */
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu;
}

.half-circle-button.left {
  left: 0;
  width: 400px; /* Adjust the width of the left half-circle */
  border-radius: 0 1200px 1200px 0;
}

.half-circle-button.right {
  right: 0;
  width: 400px; /* Adjust the width of the right half-circle */
  border-radius: 1200px 0 0 1200px;
}

.half-circle-button.left:hover {
  width: 500px; /* Increase the width on hover for the left button */

}

.half-circle-button.right:hover {
  width: 500px; /* Increase the width on hover for the right button */
}

.heading { /* add style for centered heading with big font*/
  font-size: 48px;
  font-family:  -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu;
  font-weight: 400;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
  text-align: center;
  padding-top: 20px;
}

.login-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.login-container form {
  display: flex;
  flex-direction: column;
}

.login-container input {
  margin-bottom: 10px;
  padding: 5px;
}

.login-container button {
  padding: 8px 12px;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
}

.landing-page-logo {
  display: block;

  height: 12%;
  width: 12%;
  transition: width 1s, height 1s, top 1s, left 1s, transform 1s;

}

.landing-page-logo.expand {
  width: 30%;
  height: 30%;
  transform: translate(0%, 30%);
}
.landing-page-logo-caption {
  font-size: 30px;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu;
  font-weight: 400;
  color: #7746f7;
  opacity: 0;
  transition:  opacity 0.5s ease-in-out;
}
.logo-container { /* make this center the a tag within this div*/
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
}